/* common css start */
@font-face {
    font-family: playfair-display;
    src: url(fonts/playfair-display-normal.ttf);
}
body{
    margin: 0;
    font-family: playfair-display, serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common css end */

/* header start */
header{
    padding: 40px 0;
}
.container{
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}
.logo{
    margin-top: 8px;
    float: left;
    width: 12%;
}
.logo a{
    
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 75%;

}
.menu ul{
 float: right;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    padding: 0px 50px;
    display: inline-block;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.33s linear;
}
.menu ul li:last-child a{
    padding-right: 0;
}
.menu ul li a:hover{
    color: #000;
}
/* header end */

/* banner start */
.banner{}
.b_img{}
.b_img img{
    width: 100%;
}
/* banner end */

/* article start */
.article{
    padding: 100px 0 100px;
}
.container2{
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
.a_content{}
.c_link{
    display: inline-block;
    font-size: 14px;
    font-weight: 300px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}
.c_h1{
    margin: 20px 0 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_text{
    margin: 0;
    line-height: 24px;
}
.comment{
    margin-top: 45px;
}
/* article end */

/* blog start */
.blog{
    padding: 0 0 100px;
}
.bg_item{
    margin-top: 70px;
    box-sizing: border-box;
    float: left;
    width: 47%;
}
.bg_item:nth-child(even){
    margin-left: 6%;
}
.bg_img{
    margin-bottom: 25px;
}
.bg_img img{
    width: 100%;
}
/* blog end */

/* news start */
.news{
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup{
    text-align: center;
}
.s_h1{
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;
}
.s_form{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.s_form input{
    font-size: 14px;
    color: #626262;
    width: 345px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;
}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.s_form button:focus{
    outline: 0;
}
.s_form button img{

}
/* news end */

/* blog2 start */
.blog2{
    margin-top: 30px;
}
/* blog2 end */

/* load start */
.load{
    margin-bottom: 70px;
}
.container3{
    text-align: center;
}
.container3 button{
    background-color: white;
    width: 164px;
    height: 60px;
    font-family: playfair-display;
    font-size: 24px;
    font-weight: 400px;
    color: #333;
    border: 1px solid #626262;
    cursor: pointer;
    transition: 0.33s linear;
    
}
.container3 button:hover{
    background-color: #626262;
    color: white;
}
/* load end */

/* footer start */
.footer_area{
    margin-top: 150px;
    background-color: #F0F0F0;
}
.f_main{
    overflow: hidden;
    padding: 20px 0px;
}
.f_left{
    float: left;
}
.f_left ul{
    padding: 0px;
    overflow: hidden;
}
.f_left ul li{
    float: left;
    list-style: none;
}
.f_left ul li a{
    padding-right: 20px;
    color: #000;
    text-decoration: none;
}
.f_right{
    float: right;
}
.f_right ul{
    float: right;
}
.f_right ul li{
    float: left;
    list-style: none;
}
.f_right ul li a{
    color: #000;
    text-decoration: none;
}
.f_right ul li a img{
    padding: 0px 20px;
}
.f_right ul li a:last-child img{
    padding-right: 0px;
}
/* footer end */
